<div class="widget">
    <div class="widget-header">
      <h3>Hospitales</h3>
    </div>
    <div class="widget-content">	
        <div  style="margin-top:10px">
            <div class="etable-wrapper">
                <div *ngIf="loading" class="etable-loading">
                    <div class="etable-loading-mask"></div>
                    <div class="etable-loading-text"><i class="label label-info">Cargando...</i></div>
                </div>
                <div style="display: flex;">
                  <mat-form-field appearance="standard">
                    <mat-label>Buscar ...</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                  </mat-form-field>
                  <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
                </div>
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort>
                
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                
                    <!-- Progress Column -->
                    <ng-container matColumnDef="progress">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </th>
                      <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Provincia </th>
                      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>
                
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="fruit">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Comunidad </th>
                      <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                    </ng-container>

                    <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> País </th>
                        <td mat-cell *matCellDef="let row"> {{row.country}} </td>
                      </ng-container>
                    
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                
                </div>
            </div>
        </div>
      </div>
    </div>
