
<section>
    <div class="widget">
      <div class="widget-header">
      <h3 style="margin-top:0px">Notificación de Biovigilancia de Órganos</h3>
      </div>
      <div class="widget-content">
        <ul class="nav nav-tabs">
          <li [class.active]="navBar == 'Pendientes'" style="cursor: pointer;" (click)="onTable('Pendientes')"> <a>Pendientes 

              <i class="badge badge-success"></i>

            </a></li>
          <li [class.active]="navBar == 'Confirmadas'" style="cursor: pointer;" (click)="onTable('Confirmadas')"> <a>Confirmadas

              <i class="badge badge-default">100</i>

          </a></li>
          <li [class.active]="navBar == 'Desestimades'" style="cursor: pointer;" (click)="onTable('Desestimades')"> <a>Desestimades

              <i class="badge badge-important"></i>

          </a></li>
        </ul>   

        <div  style="margin-top:10px">
            <div class="etable-wrapper">
                <div *ngIf="loading" class="etable-loading">
                    <div class="etable-loading-mask"></div>
                    <div class="etable-loading-text"><i class="label label-info">Cargando...</i></div>
                </div>
                <div style="display: flex;">
                  <mat-form-field appearance="standard">
                    <mat-label>Buscar ...</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                  </mat-form-field>
                  <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
                </div>
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort>
                
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> F. Notif. </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                
                    <!-- Progress Column -->
                    <ng-container matColumnDef="progress">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Notifica </th>
                      <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hosp. Notif. </th>
                      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>
                
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="fruit">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsable </th>
                      <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Evento </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                        </ng-container>
                    
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="fruit1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                    <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" style="text-align: center;" colspan="6">No data matching the filter "{{navBar}}"</td>
                    </tr>
                  </table>
                
                </div>
            </div>
        </div>
      </div>
      
    </div>

  </section>