<ul class="nav nav-pills">
    <li><a href="/incidents"><i class='icon-chevron-left'></i> Volver al listado de incidencias</a></li>
</ul>  
<div class="widget">
  <div class="widget-header">
  <h3>Nueva incidencia</h3>
  </div>
  <div class="widget-content">
    <div class="row-flow">
        <div class="span5">
            <button data-action="save" class="btn btn-primary"><i class="icon-white icon-hdd"></i> Guardar</button>
            &nbsp;
            <a data-action='cancel' href="/incidents" class="btn"><i class="icon icon-remove"></i> Cancelar</a>
        </div>
    </div>
    <div style="clear:both"></div>
    <form id="incidence-form">
    <table class="table inverse" style="margin-top:15px">
        <tbody>
            <tr>
                <td width="120px"><strong>T&iacute;tulo</strong></td>
                <td><input type="text" name="title" style="width:80%" placeHolder="Introduzca un título ... " name="title" value="" /></td>
            </tr>
            <tr>
                <td><strong>Descripción</strong></td>
                <td><textarea name="text" style="width:80%;min-height:200px"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>