
<section>
    <div class="widget">
      <div class="widget-header">
      <h3 style="margin-top:0px">Estado de los seguimientos (todos los hospitales)</h3>
      </div>
      <div class="widget-content">
        <ul class="nav nav-tabs">
          <li [ngClass]="open ? 'active' : ''" style="cursor: pointer;" (click)="onNav('open')"> <a>Abiertos 

              <i class="badge badge-success">100</i>

            </a></li>
          <li [ngClass]="close ? 'active' : ''"    style="cursor: pointer;" (click)="onNav('close')"> <a>Cerrados

              <i class="badge badge-default">200</i>

          </a></li>
          <li [ngClass]="incidence ? 'active' : ''"   style="cursor: pointer;" (click)="onNav('incidence')"> <a>Incidencia

              <i class="badge badge-important">300</i>

          </a></li>
          <li [ngClass]="order ? 'active' : ''"   style="cursor: pointer;" (click)="onNav('order')"> <a>En Orden

              <i class="badge badge-info">400</i>

          </a></li>
        </ul>   

        <div  style="margin-top:10px">
            <div class="etable-wrapper">
                <div *ngIf="loading" class="etable-loading">
                    <div class="etable-loading-mask"></div>
                    <div class="etable-loading-text"><i class="label label-info">Cargando...</i></div>
                </div>
                <div style="display: flex;">
                  <mat-form-field appearance="standard">
                    <mat-label>Buscar ...</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                  </mat-form-field>
                  <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
                </div>
                <div class="mat-elevation-z8">
                  <div *ngIf="!close">
                    <table mat-table [dataSource]="dataSource" matSort>
                
                      
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                      </ng-container>
                  
                      
                      <ng-container matColumnDef="progress">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Receptor </th>
                        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                      </ng-container>
                  
                      
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Donante </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                      </ng-container>
                  
                      
                      <ng-container matColumnDef="fruit">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Serie </th>
                        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                      </ng-container>

                      <ng-container matColumnDef="id1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="progress1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de TX </th>
                        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="name1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>H. Donante </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="fruit1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha TX </th>
                        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                      </ng-container>

                      <ng-container matColumnDef="name2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>F. Notif. </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="fruit2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Seg. </th>
                        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="fruit3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Propietario </th>
                        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef>
                          <!-- <button>Hello</button> -->
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </td>
                      </ng-container>
                  
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      

                  
                      <!-- Row shown when there is no matching data. -->
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
                      </tr>
                    </table>
                  </div>
                  
                  <div *ngIf="close">
                    <table mat-table [dataSource]="dataSource" matSort>
                
                      
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                      </ng-container>
                  
                      
                      <ng-container matColumnDef="progress">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Receptor </th>
                        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                      </ng-container>
                  
                      
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Donante </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                      </ng-container>
                  
                      
                      <ng-container matColumnDef="fruit">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Serie </th>
                        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                      </ng-container>

                      <ng-container matColumnDef="id1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="progress1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de TX </th>
                        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="name1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>H. Donante </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="fruit1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha TX </th>
                        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                      </ng-container>

                      <ng-container matColumnDef="name2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>F. Notif. </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="fruit2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Seg. </th>
                        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="fruit3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Propietario </th>
                        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                      </ng-container>
 
                      
                      <ng-container  matColumnDef="fruit4">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contestado </th>
                        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                      </ng-container>
                     

                      
                      <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef>
                          <!-- <button>Hello</button> -->
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </td>
                      </ng-container>
                  
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsClose"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsClose;"></tr>
                      

                  
                      <!-- Row shown when there is no matching data. -->
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
                      </tr>
                    </table>
                  </div>
                  

                
                </div>
            </div>
        </div>
      </div>
      
    </div>

  </section>