<div class="widget big-stats-container">
    <div class="widget-content" style="min-height: 10px">
        <div id="big_stats" class="cf">
            <div class="stat">
                <h4>Total Donantes</h4>
                <span class="value">2000</span>
            </div>
            <div class="stat x2">								
				
				<div class="widget" style="margin:4px">
				<div class="widget-header">
					<h3>Seguimientos generados</h3>
				</div>
				<div class="widget-content" style="min-height:10px">
					<div style="display:table;margin:auto">
						<div style="display:table-cell;width:25%">
							<span class="">Abiertos<br/><i class="badge badge-success">50</i></span>
						</div>
						<div style="display:table-cell;width:25%">
							<span class="">En Orden <br/><i class="badge badge-info">60</i></span>
						</div>
						<div style="display:table-cell;width:25%">
							<span class="">Incidencia <br/><i class="badge badge-important">70</i></span>
						</div>
						<div style="display:table-cell;width:25%">
							<span class="">Cerrados <br/><i class="badge badge-default">80</i></span>
						</div>
					</div>
				</div>
				</div>
				
			</div> <!-- .stat -->
			<div class="stat">								
				<h4>Total Receptores</h4>
				<span class="value">1000</span>								
			</div> <!-- .stat -->
        </div>
    </div>
</div>

<div class="row" >

        <div class="col-sm-6">
            <div class="widget">
                <div class="widget-header">
                    <h3>DONANTES</h3>
                </div>
                <div class="widget-content" style="min-height: 10px;">
                    <table width="100%">
                        <tr>
                            <td *ngFor="let doner of donares" class="data">
                                <h3>{{doner.count}}</h3>
                            </td>
                        </tr>
                        <tr>
                            <td *ngFor="let doner of donares" class="data">
                                {{doner.name}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    
        <div class="col-sm-6">
            <div class="widget">
                <div class="widget-header">
                    <h3>PACIENTES TRASPLANTADOS</h3>
                </div>
                <div class="widget-content" style="min-height: 10px;">
                    <table width="100%">
                        <tr>
                            <td *ngFor="let reciever of donares" class="data">
                                <h3>
                                    {{reciever.count}}
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <td *ngFor="let reciever of donares" class="data">
                                {{reciever.name}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    

</div>

<div class="widget">
    <div class="widget-header">
        <h3>DISTRIBUCIÓN POR ÓRGANOS</h3>
    </div>
    <div class="widget-content" style="min-height: 10px;">
        <table width="100%" class="table table-bordered tablegrid">
            <tr>
                <td></td>
                <td *ngFor="let i of donares" class="header">
                    {{i.name}}
                </td>
            </tr>
            <tr *ngFor="let i of rows">
                <td>{{i.name}}</td>
                <td *ngFor="let j of donares" class="data">{{j.count}}</td>
            </tr>
        </table>
    </div>
</div>