<div class="widget">
    <div class="widget-header">
        <div *ngIf="isTitle">
            <h3>Editar {{title}}</h3>
        </div>
        <div *ngIf="!isTitle">
            <h3>Crear nuevo tipo de seguimiento</h3>
        </div>
    </div>
    <div class="widget-content">
        <div class="row-flow">
            <div class="span5">
                <button data-action="save" class="btn btn-primary"><i class="icon-white icon-hdd"></i> Guardar</button>
                &nbsp;
                <a href="/types-of-tracking" class="btn"><i class="icon icon-remove"></i> Cancelar</a>
            </div>
        </div>
        <div style="clear: both;"></div>
        <form id="poll-form" style="margin-top: 10px;">
			<table class="table inverse">
				<tbody>
					<tr>
						<td><strong>T&iacute;tulo</strong></td>
						<td><input type="text" style="height: fit-content;" placeHolder="Introduzca un título ... " name="title" value="" /></td>
					</tr>
					<tr>
						<td><strong>Tipo DRNE</strong></td>
						<td>
							<select name="drneType" >
								<option value="" selected></option>
								<option value="INFECCIONES">INFECCIONES</option>
								<option value="NEOPLASIAS">NEOPLASIAS</option>
								<option value="TOXICOS">TOXICOS</option>
								<option value="OTRAS">OTRAS</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><strong>Periodicidad</strong></td>
						<td> <input type="text" style="height: fit-content;" placeHolder="Periodicidad en días y separada por comas ... " name="periodicity" value="" /></td> 
					</tr>
					<tr>
						<td><strong>Recordatorios</strong></td>
						<td><input type="text" style="height: fit-content;" placeHolder="Número de días para la alarma ..." name="alarms" value="" /></td>
					</tr>
				</tbody>
			</table>
			</form>
            <h1 style="font-weight: 800;">Preguntas</h1>
            <div class="q-types dropdown">
                <div *ngFor="let value of values"> 
                    <div class="question-box question">
                        <span class="question-option pull-right"><i data-icon-action="delete-box" class="icon-remove"></i></span>
                        <span  class="question-option pull-right" rel="tooltip" data-original-title="Incluir bloque condicional"><i data-icon-action="related-block" class="icon-th-list"></i></span>
                            
                            <div data-question-type ="type" style="margin-right: 10px" class="well well-small pull-left">
                                <img src={{value.url}} class="img-polaroid" />
                                <div style="text-align:center; text-transform: capitalize;">{{value.type}}</div>
                            </div>
                            <div class="question-content pull-left" style="width:80%">
                                <div class="question-text-wrapper">
                                <!-- <% if (!generic_id && mode == 'normal') { %>			 -->
                                <textarea data-question-text="text" placeholder="Escriba el texto de la pregunta..." style="width:100%"></textarea>
                                <div class="pull-right label label-success"><input type="checkbox" data-action="make-general" />&nbsp;¿Marcar como general?</div>
                                <!-- <% } else { %>
                                    <div style="min-height:40px"><%= text %></div>
                                <% } %> -->
                                <!-- <% if (mode == 'normal'){ %> -->
                                <div style="clear:right;margin-top:3px" class="pull-right label label-success"><input type="checkbox"   data-action="make-required" />&nbsp;¿Obligatoria?</div>
                                <!-- <% } else if (mode != 'special-list') { %>
                                    <div class="pull-right"><%= (required == "1" ? 'Obligatoria':'No Obligatoria') %></div>
                                <% } %> -->
                                </div>
                                
                                    <!-- <div *ngIf="{{value.type}}=='selector'">
                                        <strong>Opciones:</strong>
                                        <ul class="option-list">
                                        <% for(var i = 0, ln = options.length; i < ln; i++){ %>
                                            <li><span class="label label-info"><%= options[i] %>&nbsp;
                                                <% if (!generic_id && mode == 'normal') { %>
                                                    <i data-icon-action="remove-option" class="icon-remove"></i>
                                                <% } %>
                                                </span>
                                            </li>
                                        <% } %>
                                        </ul>
                                        <% if (!generic_id && mode == 'normal') { %>
                                            <span class="plus-icon label label-info"><i data-icon-action="add-option"  class="icon-plus"></i></span>
                                        <% } %>
                                    </div> -->
    
    
                                    <div *ngIf="value.type=='si-no'">
                                        <strong>Opciones:</strong>
                                        <ul class="option-list-nosortable">
                                            <li><span class="label label-info">Sí</span></li>
                                            <li><span class="label label-info">No</span></li>
                                            <li><span class="label label-info">Desconocido</span></li>
                                        </ul>
                                    </div>
                    
                            </div>
                            <div style="clear:both" class=""></div>
                    </div>

                    </div>
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <i class="icon-plus"></i>
                Añadir nueva pregunta
                  <!-- <span class="caret"></span> -->
                </button>  	
                    <ul class="dropdown-menu">
                        <li data-type="texto" class="q-type pull-left well well-small"  (click)="onType('texto')">
                            <img class="img-polaroid" src='./../../../../assets/img/form-texto.png' />
                            Texto
                        </li>
                        <li data-type="decimal" class="q-type pull-left well well-small" (click)="onType('decimal')">
                            <img class="img-polaroid" src='./../../../../assets/img/form-decimal.png' />
                            Decimal
                        </li>	  		
                        <li data-type="selector" class="q-type pull-left well well-small" (click)="onType('selector')">
                            <img class="img-polaroid" src='./../../../../assets/img/form-selector.png' />
                            Selector
                        </li>
                        <li data-type="fecha" class="q-type pull-left well well-small" (click)="onType('fecha')">
                            <img class="img-polaroid" src='./../../../../assets/img/form-fecha.png' />
                            Fecha
                        </li>
                        <li data-type="hora" class="q-type pull-left well well-small" (click)="onType('hora')">
                            <img class="img-polaroid" src='./../../../../assets/img/form-hora.png' />
                            Hora
                        </li>
                        <li data-type="si-no" class="q-type pull-left well well-small" (click)="onType('si-no')">
                            <img class="img-polaroid" src='./../../../../assets/img/form-si-no.png' />
                            Sí/No
                        </li>
                        <li data-type="general" class="q-type pull-left well well-small" (click)="onType('general')">
                            <img class="img-polaroid" src='./../../../../assets/img/form-general.png' />
                            General
                        </li>
                </ul>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
    </div>
</div>