<section>
    <div class="widget">
        <div class="widget-header">
            <h3 style="margin-top: 0px;">
                Estadísticas de respuestas (todos los hospitales)
            </h3>
        </div>
        <div class="widget-content">
            <table style="margin: auto;">
                <tr>
                    <td><strong>Órgano</strong></td>
                    <td><strong>Tipo de Encuesta</strong></td>
                    <td><strong>Serie</strong></td>
                </tr>
                <tr>
                    <td>
                        <select name="organo" id="" aria-placeholder="Órgano">
                            <option value="" selected></option>
                        </select>
                    </td>
                    <td>
                        <select name="pollmodel_id" id="" aria-placeholder="Tipo de Encuesta">
                            <option value="" selected></option>
                        </select>
                    </td>
                    <td>
                        <select name="serie" style="width: 100px;" id="" aria-placeholder="serie">
                            <option value="all" selected>Todas</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="center">
                        <a href="/chart" data-action="" target="_blank" class="btn btn-primary ">Ver estadísticas</a>
                        <a style="display:none" data-action="seguimientos" target="_blank" href="/chart" class="btn btn-primary disabled">Listar seguimientos</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
