<div id="init-splash">
    <div class="loading-wrapper">
      <h3>Cargando plataforma DRNE ...</h3>
      <div class="progress progress-striped active">
        <div id="loading-bar" class="bar" style="width: 0%;"></div>
      </div>
    </div>
</div>