#init-splash, #loading-shadowbox{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #fff;
	opacity: 1;
	text-align:center;
	z-index: 1000;
}

#loading-shadowbox {
	background-color: #000;
	z-index:1001;
	opacity: 0.4;
}
#loading-shadowbox h3 {
	position: absolute;
	top: 50%;
	left: 48%;
	color: white;
}

#init-splash .loading-wrapper{
	position: absolute;
	top: 40%;
	left: 25%;
	width: 50%;
}
.rounded-box{
	background: #efefef;
	border: #ababab;
	padding: 6px;
	border-radius: 3px;
}