.brand.drne{
	width: 80px;
	text-align: center;
	font-size: 25px;
	padding: 10px 0px;
}
.brand.biovigilancia.drne{
	font-size: 14px;
	padding: 0;
}
div.border5 {
	border: 1px solid #aaa;
	border-radius: 5px;
	background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
    padding-left: 20px;
    margin-left: 20px;
}