<div *ngIf="nav.visible">
  <div class="navbar">
    <div class="navbar-inner navbar-fixed-top">
      <!-- <div> -->

        <a class="btn btn-navbar" data-toggle="collapse" id="dropdownBasic">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand drne biovigilancia" href="#">DRNE Biovigilancia</a>
        <div class="nav-collapse navbar-responsive-collapse " >
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li data-group="cuadro" class="dropdown">
              <div ngbDropdown class="d-inline-block" style="margin-top: 10px;">
                <a style="cursor: pointer;" id="dropdownBasic1" ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" (click)="touch_control()"><fa-icon [icon]="faTh"></fa-icon> Cuadro de mando</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  
                    <li class="nav-header">Resúmenes</li>
                    <li><a href="/dashboard">Resumen Biovigilancia</a></li>
                    <!-- <li><a href="/dashboard">Resumen DRNE - Receptores propios</a></li>
                    <li><a href="/dashboard">Resumen Biovigilancia - Donantes propios</a></li>
                    <li><a href="/dashboard">Resumen Biovigilancia - Receptores propios</a></li> -->
                    <li class="divider"></li>
                    <li class="nav-header">Seguimientos</li>
                    <li><a href="/status">Estado de los seguimientos</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Estadísticas</li> 
                    <!-- <li><a href="/statistics">Estadísticas DRNE</a></li> -->
                    <li><a href="/statistics">Estadísticas de Biovigilancia</a></li>
                  
                </div>
              </div>
            </li>
            <li class="divider-vertical"></li>
            <li data-group="admin" class="dropdown" style="margin-top: 10px;">
              <div ngbDropdown class="d-inline-block">
                <a style="cursor: pointer;" id="dropdownBasic2" ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" (click)="touch_manage()"> <fa-icon [icon]="faWrench"></fa-icon>  Administraci&oacute;n </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                  
                    <li><a href="/types-of-tracking">Gestionar Tipos de Seguimientos</a></li>
                    <li><a href="/coordinator-management">Gestionar Coordinadores</a></li>
                    <li><a href="/management-of-transplant-equipment">Gestionar Equipos</a></li>
                    <li><a href="/hospitals">Gestionar Hospitales</a></li>
                    <li><a href="/receivers">Gestionar Receptores</a></li>
                    <!-- <li><a href="/incidents">Incidencias</a></li> -->
  
                  </div>
              </div>
            </li>
            <li class="divider-vertical"></li>
            <li data-group="vigilancias" class="dropdown" style="margin-top: 10px;">
              <div ngbDropdown class="d-inline-block">
                <a style="cursor: pointer;" id="dropdownBasic3" ngbDropdownToggle  class="dropdown-toggle" data-toggle="dropdown" (click)="touch_bio()"><fa-icon [icon]="faExclamationTriangle"></fa-icon> Biovigilancia </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                  
                    <li><a href="/notifications">Notificaciones de biovigilancia de órganos</a></li>
                    <li><a href="/notifications">Notificaciones de biovigilancia de tejidos y células</a></li>
                    <li><a href="/biomonitoring-donors">Casos de biovigilancia de órganos</a></li>
                    <li><a href="/biomonitoring-receptors">Casos de biovigilancia de tejidos y células</a></li>
                    <!-- <li><a href="/vigilancias/notificaciones">Notificaciones de biovigilancia de tejidos y células</a></li>
                    <li><a href="/vigilancias/casos">Casos de biovigilancia de tejidos y células</a></li> -->
  
                </div>
              </div>
            </li>
          </ul>

          <ul class="nav pull-right">

              <li class="divider-vertical"></li>
              <li><div class="btn-group"><a class="pull-right btn btn-danger" href="/alta-biovigilancia">Alta BIOVIGILANCIA</a></div></li>

              <li class="divider-vertical"></li>
               <li style="text-align:center"><a class="dropdown-toggle" data-toggle="dropdown" style="padding:0px;line-height: 10px"><fa-icon [icon]="faUser"></fa-icon> adminDRNE </a>
                    <ul class="dropdown-menu">

                      <li class="nav-header">Otros perfiles</li>

                      
                      <li class="divider"></li>

                    
                    <li><a href="/login">Salir</a></li>
                    </ul>
                    <small><small><i style="line-height: 12px" class="label label-info">Adminitrator</i></small></small>
               </li>
            </ul>
        </div>

      <!-- </div> -->
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row" >
    <div *ngIf="nav.visible" id="sidenav" class="col-sm-2">
      <div class="row-fluid">
        <div class="border5">
          <div *ngIf="is_control">
            <ul class="nav nav-list" >
              <li class="nav-header">Resúmenes</li>
              <li><a href="/dashboard">Resumen Biovigilancia</a></li>
              <!-- <li><a href="/dashboard">Resumen DRNE - Receptores propios</a></li>
              <li><a href="/dashboard">Resumen Biovigilancia - Donantes propios</a></li>
              <li><a href="/dashboard">Resumen Biovigilancia - Receptores propios</a></li> -->
              <li class="divider"></li>
              <li class="nav-header">Seguimientos</li>
              <li><a href="/status">Estado de los seguimientos</a></li>
              <li class="divider"></li>
              <li class="nav-header">Estadísticas</li> 
              <!-- <li><a href="/statistics">Estadísticas DRNE</a></li> -->
              <li><a href="/statistics">Estadísticas de Biovigilancia</a></li>
            </ul>
          </div>
          <div *ngIf="is_manage">
            <ul class="nav nav-list" >
              <li class="nav-header">Administraci&oacute;n</li>
              <li><a href="/types-of-tracking">Gestionar Tipos de Seguimientos</a></li>
              <li><a href="/coordinator-management">Gestionar Coordinadores</a></li>
              <li><a href="/management-of-transplant-equipment">Gestionar Equipos</a></li>
              <li><a href="/hospitals">Gestionar Hospitales</a></li>
              <li><a href="/receivers">Gestionar Receptores</a></li>
              <!-- <li><a href="/incidents">Incidencias</a></li> -->
            </ul>
          </div>
          <div *ngIf="is_bio">
            <ul class="nav nav-list" >
              <li class="nav-header">Biovigilancia</li>
            <li><a href="/notifications">Notificaciones de biovigilancia de órganos</a></li>
            <li><a href="/notifications">Notificaciones de biovigilancia de tejidos y células</a></li>
            <li><a href="/biomonitoring-donors">Casos de biovigilancia de órganos</a></li>
            <li><a href="/biomonitoring-receptors">Casos de biovigilancia de tejidos y células</a></li>
            <!-- <li><a href="/vigilancias/notificaciones">Notificaciones de biovigilancia de tejidos y células</a></li>
            <li><a href="/vigilancias/casos">Casos de biovigilancia de tejidos y células</a></li> -->
          </ul>
          </div>
    
        </div>
      </div>

    </div>
    <div *ngIf="nav.visible" class="col-sm-10" >
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="!nav.visible" class="col-sm-12">
      <router-outlet></router-outlet> 
    </div>
  </div>
</div>


