<div class="widget">
    <div class="widget-header">
    <h3 style="margin-top:0px">Gestión de Equipos de Trasplantes</h3>
    <a data-action="navigate" href="/management-of-transplant-equipment/new" class="btn btn-small btn-info pull-right"><i class="icon icon-white icon-plus"></i>&nbsp;Nuevo Equipo de Trasplantes</a>

    </div>
    <div class="widget-content">
        <div  style="margin-top:10px">
            <div class="etable-wrapper">
                <div *ngIf="loading" class="etable-loading">
                    <div class="etable-loading-mask"></div>
                    <div class="etable-loading-text"><i class="label label-info">Cargando...</i></div>
                </div>
                <div style="display: flex;">
                  <mat-form-field appearance="standard">
                    <mat-label>Buscar ...</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                  </mat-form-field>
                  <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
                </div>
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort>
                
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                
                    <!-- Progress Column -->
                    <ng-container matColumnDef="Nombre">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                      <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="Apellidos">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>
                
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="Hospital">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital </th>
                      <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Hospital1">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital </th>
                      <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Perfil">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Perfil </th>
                      <td mat-cell *matCellDef="let row"><span style="background-color: #b94a48; color:white; border-radius: 5%;">BIOVIG</span>&nbsp; <span style="background-color: #3a87ad; color:white; border-radius: 5%;">DRNE</span> </td>
                    </ng-container>

                    <ng-container matColumnDef="Trasplantes">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipos de Trasplantes </th>
                      <td mat-cell *matCellDef="let row" ><span style="background-color: #3a87ad; color:white; border-radius: 5%;">Coordinator de E. T.</span>  </td>
                    </ng-container>
                    
                    <!-- Delete Button -->
                    <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef>
                        <!-- <button>Hello</button> -->
                      </th>
                      <td mat-cell *matCellDef="let row" style="display:flex-end"> 
                        <button mat-icon-button color="primary" aria-label="edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" aria-label="delete">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                
                </div>
            </div>
        </div>
    </div>
</div>

