        <div class="widget">
          <div class="widget-header">
          <h3 style="margin-top:0px">Alta de Biovigilancia</h3>
          </div>
          <div class="widget-content">
              <form [formGroup]="NotificationForm">
          <table class="table inverse">
            <tbody>
              <tr>
                <td width="200"><strong>Persona que notifica</strong></td>
                <!-- <td><%=profile.firstname+' '+profile.lastname%></td> -->
                <td>ONT Coordinator 1</td>
              </tr>
              <tr>
                <td width="200"><strong>C.A. Centro que notifica</strong></td>
                <div *ngIf="role=='ont'">
                        <select data-id='ccaa_notifica_select'>
                            <option *ngFor="let i of ccaas" value="i">{{i}}</option>
                        </select>
                </div>
                <div *ngIf="role!='ont'">

                </div>
                <!-- <% if (profile.role == 'ont'){ %>
                  <td><select data-id='ccaa_notifica_select'>
    
                    <% var ccaas =BOOTSTRAP.regions;
                      for (var i = 0, ln = ccaas.length; i < ln; i++){ %>
                          <option value="<%=ccaas.at(i).get('nombre')%>"><%=ccaas.at(i).get('nombre')%></option>
                      <% } %>
                  </select></td>
                <% }  else { %>
                  <td id="ccaa_notifica_target"><%=BOOTSTRAP.hospitals.where({'cod_hospital': profile.hospitals[0].id})[0].get('ccaa')%> </td>
                <% } %> -->
              </tr>
              <tr>
                <td><strong>Centro que notifica</strong></td>
                <td>
                    <div *ngIf="role=='ont'">
                        <select name="cod_hospital_notificador">
                            <option value="i" *ngFor="let i of hospital" >{{i}}</option>
                        </select>
                    </div>

                    <div *ngIf="role!='ont'">
    
                    </div>
                  <!-- <% if (profile.role == 'ont'){ 
                    
                      var hospitals = BOOTSTRAP.hospitals.where({'ccaa': BOOTSTRAP.regions.at(0).get('nombre')});
                      for (var i = 0, ln = hospitals.length; i < ln; i++){ %>
                        <option value="<%=hospitals[i].get('id')%>"><%= hospitals[i].get('nombre')%></option>
                  <%
                    }
                   } else { %>
                    <% for (var i = 0, ln = profile.hospitals.length; i <ln; i++){ %>
                        <option value="<%=profile.hospitals[i].id%>"><%=profile.hospitals[i].name%></option>
                    <% } %>
                  <% } %>                 -->
                </td>
              </tr>
              <tr>
                <td><strong>Fecha de Notificación</strong></td>
                <td><input type="text" data-ui="fecha" name="fecha_notificacion" value="" style="width:100px"/></td>
              </tr>
              <tr>
                <td><strong>Responsable Biovigilancia centro</strong></td>
                <td><input type="text" name="responsable_vigilancia" value="" placeholder="Nombre, apellidos, cargo" /></td>
              </tr>
              <tr>
                <td><strong>Nº de Identificación Coordinación autonómica</strong></td>
                <td><input type="text" name="id_coordinacion_autonomica" value="" placeholder="" /></td>
              </tr>
              <tr id="extraccion-tejidos-row">
                <td width="200"><strong>¿Hubo extracción de tejidos del donante?</strong></td>
                <td>
                <select name="tejidos">
                  <option value=""></option>
                  <option value="Sí">Sí</option>
                  <option value="No">No</option>
                  <option value="No se sabe">No se sabe</option>
                </select>
                <div id="alert_tejidos" class="alert alert-error" style="max-width: 300px;display:none">
                  POR FAVOR, NOTIFIQUE TAMBIÉN EL CASO AL SISTEMA DE BIOVIGILANCIA DE TEJIDOS Y CÉLULAS
                </div>
                </td>
              </tr>
              <tr>
                <td><strong>Tipo de Alerta</strong></td>
                <td>
                <select name="tipo_alerta" formControlName="formAlerta" (change)="alerta()">
                  <option value=""></option>
                  <option value="evento">Evento Adverso</option>
                  <option value="reaccion">Reacción Adversa Receptor</option>
                  <!-- <option value="donante">Reacción Adversa Donante Vivo</option> -->
                </select>
                </td>
              </tr>
                </tbody>
                </table>
          <div id="campos-paciente">
          <div *ngIf="forEvento||forReaccion" class="alert alert-info">A continuación todos los campos de este formulario son opcionales, si bien se recomienda rellenar el mayor número posible de ellos en base a la información de la que disponga</div>
          <h4 *ngIf="forEvento" style="font-weight: bold;">Información del Donante</h4>
          <h4 *ngIf="forReaccion" style="font-weight: bold;">Información del Receptor</h4>
          <table class="table inverse">
            <tbody>
              <tr *ngIf="forEvento||forReaccion">
                <td width="200"><strong>Nº CORE</strong></td>
                <td><input type="text" name="nsiul" /></td>
              </tr>
              <tr *ngIf="forEvento" id="tipo-donante-row">
                <td width="200"><strong>Tipo Donante</strong></td>
                <td>
                <select name="tipo_donante">
                  <option value=""></option>
                  <option value="vivo">Donante Vivo</option>
                  <option value="muerte_encefalica">Donante en Muerte Encefálica</option>
                  <option value="asistolia">Donante en Asistolia</option>
                </select>
                </td>
              </tr>
              <tr *ngIf="forReaccion" id="organo-trasplantado-row">
                <td width="200"><strong>Órgano trasplantado</strong></td>
                <td>
                    <ul style="list-style:none">
                      <li><input type="checkbox" name="organo_trasplantado" value="r-der" /> Riñón derecho en origen</li>
                      <li><input type="checkbox" name="organo_trasplantado" value="r-izq" /> Riñón izquierdo en origen</li>
                      <li><input type="checkbox" name="organo_trasplantado" value="higado" /> Hígado</li>
                      <li><input type="checkbox" name="organo_trasplantado" value="corazon" /> Corazón</li>
                      <li><input type="checkbox" name="organo_trasplantado" value="p-der" /> Pulmón derecho en origen</li>
                      <li><input type="checkbox" name="organo_trasplantado" value="p-izq" /> Pulmón izquierdo en origen</li>
                      <li><input type="checkbox" name="organo_trasplantado" value="pancreas" /> Páncreas</li>
                      <li><input type="checkbox" name="organo_trasplantado" value="intestino" /> Intestino</li>
                      <li><input type="checkbox" name="organo_trasplantado" value="otros" /> Otros: <input type="text" name="otros_organos" /></li>
                    </ul>
                </td>
              </tr>          
              <tr *ngIf="forEvento||forReaccion">
                <td width="200"><strong>Fecha de Nacimiento</strong></td>
                <td><input type="text" name="fecha_nacimiento" data-ui="fecha" placeholder="dd/mm/aa" style="width:100px"/></td>
              </tr>
              <tr *ngIf="forEvento||forReaccion">
                <td width="200"><strong>Sexo</strong></td>
                <td>
                <select name="sexo">
                  <option value=""></option>
                  <option value="V">Varón</option>
                  <option value="M">Mujer</option>
                </select>
                </td>
              </tr>
              <tr *ngIf="forEvento||forReaccion">
                <td width="200"><strong id="ccaa-label">Comunidad Autónoma</strong>
                  <div *ngIf="forEvento">
                    <td width="200"><strong id="ccaa-label">Hospital Donante</strong></td>
                  </div>
                  <div *ngIf="forReaccion">
                    <td width="200"><strong id="ccaa-label">Hospital de transplante</strong></td>
                  </div>
                </td>

                <td>
                <select data-id="select-ccaa" name="ccaa">
                  <option selected value=""></option>
                <!-- <% for (var i =0, ln = ccaa.length; i < ln; i++){ %>
                  <option value="<%=ccaa[i].get('nombre')%>"><%=ccaa[i].get('nombre')%></option>
                <% } %> -->
                <div *ngFor="let i of ccaas">
                    <option value="i">{{i}}</option>
                </div>
                </select>
                </td>
              </tr>
              <tr *ngIf="forEvento||forReaccion">
                <div *ngIf="forEvento">
                  <td width="200"><strong id="ccaa-label">Hospital Donante</strong></td>
                </div>
                <div *ngIf="forReaccion">
                  <td width="200"><strong id="ccaa-label">Hospital de transplante</strong></td>
                </div>
                <td>
                <select data-id="select-hospitals" name="cod_hospital">
                  <option selected value=""></option>
                </select>
                </td>
              </tr>
              <tr *ngIf="forEvento||forReaccion">
                <div *ngIf="forEvento"><td width="200"><strong id="fecha-operacion">Fecha de Extracción</strong></td></div>
                <div *ngIf="forReaccion"><td width="200"><strong id="fecha-operacion">Fecha de trasplante</strong></td></div>
                
                <td><input type="text" name="fecha_operacion" data-ui="fecha" placeholder="dd/mm/aa" style="width:100px"/></td>
              </tr>
            </tbody>
          </table>
          <h4 *ngIf="forEvento||forReaccion">GESTIÓN. ACCIONES PREVENTIVAS, TERAPÉUTICAS Y CORRECTORAS</h4>
          <table class="table inverse">
            <tbody>
              <tr *ngIf="forEvento||forReaccion">
                <div *ngIf="forEvento"><td width="200"><strong id="fecha-ocurrencia">Fecha de ocurrencia</strong></td></div>
                <div *ngIf="forReaccion"><td width="200"><strong id="fecha-inicio">Fecha de inicio</strong></td></div>
                <td><input type="text" name="fecha_ini_ocu" data-ui="fecha" placeholder="dd/mm/aa" style="width:100px"/></td>
              </tr>
              <tr *ngIf="forEvento||forReaccion">
                <td width="200"><strong>Fecha de detección</strong></td>
                <td><input type="text" name="fecha_deteccion" data-ui="fecha" placeholder="dd/mm/aa" style="width:100px"/></td>
              </tr>
              <tr *ngIf="forEvento||forReaccion">
                  <td><strong>Subtipo de Alerta</strong></td>
                  <td>
                    <div *ngIf="forEvento">
                      <select data-id="subtipo-alerta-evento" name="subtipo_alerta_evento" placeholder="Seleccionar ...">
                        <option value=""></option>
                        <option value="incidente-sin">Incidente sin exposición directa a riesgo</option>
                        <option value="incidente-con">Incidente con exposición directa a riesgo</option>
                        <option value="infeccion">Infección /Serología positiva</option>
                        <option value="tumor">Tumor Maligno</option>
                        <option value="otra-enfermedad">Otra enfermedad transmisible</option>
                        <option value="otro">Otra</option>
                      </select>
                    </div>

                    <div *ngIf="forReaccion">
                      <select data-id="subtipo-alerta-reaccion" name="subtipo_alerta_reaccion" placeholder="Seleccionar ...">
                        <option value=""></option>
                        <option value="abandono">Abandono procedimiento de trasplante por un evento adverso con exposición innecesaria a riesgo</option>
                        <option value="inmunologica">Reacción inmunológica</option>
                        <option value="infeccion">Infección /seroconversión</option>
                        <option value="tumor">Tumor Maligno</option>
                        <option value="otra-enfermedad">Otra enfermedad transmisible</option>
                        <option value="perdida">Pérdida injerto</option>
                        <option value="fallecimiento">Fallecimiento receptor</option>
                        <option value="otro">Otra</option>
                      </select>
                    </div>

                    <!-- <select data-id="subtipo-alerta-donante" name="subtipo_alerta_donante" placeholder="Seleccionar ...">
                      <option value=""></option>
                      <option value="fallecimiento">Fallecimiento donante vivo</option>
                      <option value="complicacion">Complicación grave donante vivo</option>
                      <option value="perdida">Pérdida injerto donante vivo tras extracción</option>
                      <option value="otro">Otra</option>
                    </select>
    
                    <div data-id="anexo-i-infecciones" style="display:none">        
                    <select name="subtipo_alerta_anexo_i">
                        <option value=""></option>
                        <option value="htlv">Virus: HTLV</option>
                        <option value="vhb">Virus: VHB</option>
                        <option value="vhc">Virus: VHC</option>
                        <option value="vih">Virus: VIH</option>
                        <option value="vwn">Virus: VWN</option>
                        <option value="virus-otro">Virus: Otro</option>
                        <option value="clostridium">Bacteria / Micobacteria: Clostridium</option>
                        <option value="eschericuia">Bacteria / Micobacteria: Eschericuia coli</option>
                        <option value="enterococcus">Bacteria / Micobacteria: Enterococcus</option>
                        <option value="klebsiella">Bacteria / Micobacteria: Klebsiella</option>
                        <option value="pseudomonas">Bacteria / Micobacteria: Pseudomonas</option>
                        <option value="streptococcus">Bacteria / Micobacteria: Streptococcus</option>
                        <option value="staphylococcus">Bacteria / Micobacteria: Staphylococcus</option>
                        <option value="treponema">Bacteria / Micobacteria: Treponema pallidum </option>
                        <option value="tuberculosis">Bacteria / Micobacteria: Tuberculosis</option>
                        <option value="bacteria-otro">Bacteria / Micobacteria: Otro</option>
                        <option value="aspergillus">Hongo: Aspergillus</option>
                        <option value="candida">Hongo: Candida</option>
                        <option value="coccidioides">Hongo: Coccidioides</option>
                        <option value="cryptococcus">Hongo: Cryptococcus</option>
                        <option value="histoplasma">Hongo: Histoplasma</option>
                        <option value="hongo-otro">Hongo: Otro</option>
                        <option value="plasmodium">Parásito: Plasmodium</option>
                        <option value="schistosoma">Parásito: Schistosoma spp</option>
                        <option value="strongyloides">Parásito: Strongyloides  stercoralis</option>
                        <option value="trypanosoma">Parásito: Trypanosoma cruzi</option>
                        <option value="parasito-otro">Parásito: TOtro</option>
                        <option value="prion">Protozoo: Prión</option>
                        <option value="cjd">Protozoo: CJD</option>
                        <option value="vcjd">Protozoo: vCJD</option>
                        <option value="protozoo-otro">Protozoo: otro</option>
                        <option value="otro">Otro</option>
                    </select>
                    </div>
                    <div data-id="anexo-ii-tumores" style="display:none">        
                    <select name="subtipo_alerta_anexo_ii">
                        <option value=""></option>
                        <option value="colo-rectal">Colo-rectal</option>
                        <option value="coriocarcinoma">Coriocarcinoma</option>
                        <option value="Esofago">Esófago</option>
                        <option value="Hematopoyetico">Hematopoyético</option>
                        <option value="hepatico">Hepático</option>
                        <option value="mama">Mama</option>
                        <option value="melanoma">Melanoma</option>
                        <option value="orofaringeo">Orofaríngeo</option>
                        <option value="ovario">Ovario</option>
                        <option value="pancreas">Páncreas</option>
                        <option value="prostata">Próstata</option>
                        <option value="pulmon">Pulmón</option>
                        <option value="renal">Renal</option>
                        <option value="sarcoma">Sarcoma</option>
                        <option value="snc">Sistema Nervioso Central</option>
                        <option value="tiroides">Tiroides</option>
                        <option value="otro">Otro</option>
                    </select>                
                    </div>
                    <div data-id="subtipo-alerta-otro" style="display:none">
                      <input type="text" name="subtipo_alerta_otros" placeholder="Especificar ..." />
                    </div> -->
                  </td>
              </tr>
              <tr *ngIf="forEvento||forReaccion">
                <td><strong>Descripción y consecuencias potenciales</strong></td>
                <td><textarea name="descripcion" style="width:300px;height:150px"></textarea></td>
              </tr>
              <tr *ngIf="forEvento||forReaccion">
                <td><strong>Resultados de la investigación y pruebas diagnósticas realizadas</strong></td>
                <td><textarea name="resultados" style="width:300px;height:150px"></textarea></td>
              </tr>
              <tr id="fase-proceso-row" *ngIf="forEvento">
                <td width="200"><strong>Fase del proceso en la que ocurre</strong></td>
                <td>
                    <ul style="list-style:none">
                      <li><input type="checkbox" name="fase" value="identificacion" /> Identificación del donante</li>
                      <li><input type="checkbox" name="fase" value="evaluacion" /> Evaluación del donante</li>
                      <li><input type="checkbox" name="fase" value="pruebas" /> Pruebas diagnósticas</li>
                      <li><input type="checkbox" name="fase" value="caracterizacion" /> Caraterización (incluye transmisión información)</li>
                      <li><input type="checkbox" name="fase" value="extraccion" /> Extracción (incluye preservación in situ)</li>
                      <li><input type="checkbox" name="fase" value="preservacion" /> Preservación</li>
                      <li><input type="checkbox" name="fase" value="empaquetado" /> Empaquetado</li>
                      <li><input type="checkbox" name="fase" value="transporte" /> Transporte</li>
                      <li><input type="checkbox" name="fase" value="otros" /> Otra: <input type="text" name="otros_fases" /></li>
                    </ul>
                </td>
              </tr>
              <tr id="causa-row" *ngIf="forEvento">
                <td width="200"><strong>Causa</strong></td>
                <td>
                    <ul style="list-style:none">
                      <li><input type="checkbox" name="causa" value="documentacion" /> Déficit de documentación</li>
                      <li><input type="checkbox" name="causa" value="identificacion" /> Déficit de identificación</li>
                      <li><input type="checkbox" name="causa" value="equipamiento" /> Fallo de equipamiento</li>
                      <li><input type="checkbox" name="causa" value="material" /> Fallo de material</li>
                      <li><input type="checkbox" name="causa" value="humano" /> Error humano</li>
                      <li><input type="checkbox" name="causa" value="otros" /> Otra: <input type="text" name="otros_causas" /></li>
                    </ul>
                </td>
              </tr>
              <tr *ngIf="forEvento||forReaccion">
                <td width="200"><strong>Gravedad</strong></td>
                <td>
                <select name="gravedad" >
                  <option value=""></option>
                  <option value="no">No seria/o</option>
                  <option value="serio">Seria/o</option>
                  <option value="potencial">Potencialmente mortal</option>
                  <option value="mortal">Mortal</option>
                </select>
                </td>
              </tr>
              <tr id="imputabilidad-row" *ngIf="forReaccion">
                <td width="200"><strong>Imputabilidad</strong></td>
                <td>
                  <select name="imputabilidad">
                    <option value=""></option>
                    <option value="no">No evaluable</option>
                    <option value="improbable">Excluída; improbable</option>
                    <option value="probable">Probable</option>
                    <option value="definitiva">Definitiva; cierta</option>
                  </select>
                </td>
              </tr>
              <tr *ngIf="forEvento||forReaccion" >
                <td width="200"><strong>Probabilidad de recurrencia</strong></td>
                <td>
                  <select name="recurrencia">
                    <option value=""></option>
                    <option value="raro">Raro</option>
                    <option value="improbable">Improbable</option>
                    <option value="posible">Posible</option>
                    <option value="probable">Probable</option>
                    <option value="casi">Casi cierto</option>
                  </select>
                </td>
              </tr>   
              <tr *ngIf="forEvento||forReaccion">
                <td width="200"><strong>Consecuencias</strong></td>
                <td>
                  <select name="consecuencias">
                    <option value=""></option>
                    <option value="menor">Menor</option>
                    <option value="significativo">Significativo</option>
                    <option value="mayor">Mayor</option>
                    <option value="grave">Grave</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <h4 *ngIf="forEvento||forReaccion">DESCRIPCIÓN, INVESTIGACIÓN Y EVALUACIÓN DEL CASO</h4>
          <table class="table inverse" *ngIf="forEvento||forReaccion">
            <tbody>
              <tr>
                <td width="200"><strong>Descripción de las medidas puestas en marcha</strong></td>      
                <td><textarea name="medidas" style="width:300px;height:150px"></textarea></td>
              </tr>
              <tr>
                <td><strong>Evolución del caso</strong></td>      
                <td><textarea name="evolucion" style="width:300px;height:150px"></textarea></td>
              </tr>
              <tr>
                <td><strong>Conclusiones</strong></td>      
                <td><textarea name="conclusiones" style="width:300px;height:150px"></textarea></td>
              </tr>
            </tbody>
          </table>
          </div>
              </form>
                  <div class="control-group">
                    <div class="controls">
                      <button type="button" class="btn btn-primary disabled"><i class="icon-white icon-hdd"></i> Guardar</button>
                      &nbsp;
                    </div>
                  </div>
          </div>
