<div *ngIf="login_page">
    <div class="login-header">
        <div class="account-container">
          <h1 style="text-align:center;">DRNE - BIOVIGILANCIA</h1>
          <div style="text-align:center;padding-bottom:5px">
            <img src='./../../../../assets/img/logo_ont_mini.png' />
          </div>
        </div>
    </div>
    
    <div class="account-container">
        <!-- <?php if (!empty($msg)){ ?>
          <div style="margin:4px" class="alert alert-error">
              <strong>Error:</strong> <?php echo $msg; ?>
          </div>
        <?php } ?> -->
        <div class="content clearfix">
          
          <!-- <form action="<?php echo base_url().'login'; ?>" method="post"> -->
          <form>
            <h1 style="text-align:center;">Iniciar sesión</h1>    
            
            <div class="login-fields">
              
              <p>Utiliza tus credenciales de usuario para entrar:</p>
              
              <div class="field">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="usuario" value="" placeholder="Usuario" class="login username-field col-sm-12">
              </div> <!-- /field -->
              
              <div class="field">
                <label for="password">Contraseña:</label>
                <input type="password" id="password"  name="password" value="" placeholder="Contraseña" class="login password-field col-sm-12">
              </div> <!-- /password -->
            </div> <!-- /login-fields -->
            
            <div class="login-actions">
      
              <div id="#loading-login" class="pull-left hidden" style="margin:10px 30px">autenticando...</div>
              <button data-action="login" class="button btn btn-primary btn-large" (click)="toLogin()">Acceder</button>
              
            </div> <!-- .actions -->
              <p style="text-align:center;color: #8e8d8d;">Si tiene problemas con sus claves por favor diríjase a <a target="_blank" href="https://usuarios.ont.es">https://usuarios.ont.es</a></p>
      
          </form>
          
        </div> <!-- /content -->
        
      </div>
</div>


<!-- <app-loading-bar #childId></app-loading-bar> -->
    <div id="init-splash" hidden>
        <div class="loading-wrapper">
            <h3>Cargando plataforma DRNE ...</h3>
            <div class="progress progress-striped active">
                <div id="loadingBar" class="bar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
