<div class="widget">
    <div class="widget-header">
    <h3 style="margin-top:0px">Gestión de Coordinadores</h3>
    <a data-action="navigate" href="/coordinator-management/new" class="btn btn-small btn-info pull-right"><i class="icon icon-white icon-plus"></i>&nbsp;Nuevo Coordinador {{button_text}}</a>

    </div>
    <div class="widget-content">
    <ul class="nav nav-tabs">
        <li [class.active]="coordinator_type == 'ont'" style="cursor: pointer;" (click)="onTable('ont')"><a>ONT</a></li>
        <li [class.active]="coordinator_type == 'autonomico'"  style="cursor: pointer;" (click)="onTable('autonomico')"><a>Autonómicos</a></li>
        <li [class.active]="coordinator_type == 'trasplantador'" style="cursor: pointer;" (click)="onTable('trasplantador')"><a>H. Generador</a></li>
    </ul>
    <div *ngIf="coordinator_type=='ont'" style="margin-top:10px">
        <div  style="margin-top:10px">
            <div class="etable-wrapper">
                <div *ngIf="loading" class="etable-loading">
                    <div class="etable-loading-mask"></div>
                    <div class="etable-loading-text"><i class="label label-info">Cargando...</i></div>
                </div>
                <div style="display: flex;">
                  <mat-form-field appearance="standard">
                    <mat-label>Buscar ...</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                  </mat-form-field>
                  <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
                </div>
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort>
                
                    <!-- Usuario Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                
                    <!-- Nombre Column -->
                    <ng-container matColumnDef="progress">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                      <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                    </ng-container>
                
                    <!-- Apellidos Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>
                
                    <!-- Email Column -->
                    <ng-container matColumnDef="fruit">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                      <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                    </ng-container>
                    
                    <!-- Delete Button -->
                    <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef >
                        <!-- <button>Hello</button> -->
                      </th>
                      <td mat-cell *matCellDef="let row" style="display:flex-end">
                        <button mat-icon-button color="primary" aria-label="edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" aria-label="delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button class="btn-danger">
                            En copia de PUSH
                        </button>
                      </td> 
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="coordinator_type=='autonomico'" style="margin-top:10px">
        <div  style="margin-top:10px">
            <div class="etable-wrapper">
                <div *ngIf="loading" class="etable-loading">
                    <div class="etable-loading-mask"></div>
                    <div class="etable-loading-text"><i class="label label-info">Cargando...</i></div>
                </div>
                <div style="display: flex;">
                  <mat-form-field appearance="standard">
                    <mat-label>Buscar ...</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                  </mat-form-field>
                  <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
                </div>
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort>
                
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="progress">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                      <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                    </ng-container>
                
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="fruit">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                      <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                    </ng-container>

                    <ng-container matColumnDef="comunidad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comunidad </th>
                        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef >
                      </th>
                      <td mat-cell *matCellDef="let row" style="display:flex-end">
                        <button mat-icon-button color="primary" aria-label="edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" aria-label="delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                      </td> 
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsAutonomico"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsAutonomico;"></tr>
                
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="coordinator_type=='trasplantador'" style="margin-top:10px">
      <div  style="margin-top:10px">
        <div class="etable-wrapper">
            <div *ngIf="loading" class="etable-loading">
                <div class="etable-loading-mask"></div>
                <div class="etable-loading-text"><i class="label label-info">Cargando...</i></div>
            </div>
            <div style="display: flex;">
              <mat-form-field appearance="standard">
                <mat-label>Buscar ...</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
              </mat-form-field>
              <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
            </div>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
            
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                  <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <ng-container matColumnDef="progress">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                </ng-container>
            
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                  <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="fruit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                  <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                </ng-container>

                <ng-container matColumnDef="comunidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital </th>
                    <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                </ng-container>

                <ng-container matColumnDef="perfil">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Perfil </th>
                  <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
              </ng-container>
                
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef >
                  </th>
                  <td mat-cell *matCellDef="let row" style="display:flex-end">
                    <button mat-icon-button color="primary" aria-label="edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" aria-label="delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                  </td> 
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnsGenerador"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsGenerador;"></tr>
            
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            
            </div>
        </div>
    </div>
    </div>
    </div>
</div>