<section>
    <div class="widget">
        <div class="widget-header">
            <h3 style="margin-top: 0px;">
                Tipos de Seguimiento
            </h3>
            <a data-action="navigate" href="/types-of-tracking/new" class="btn btn-info pull-right"><i class="icon-plus icon-white"></i> Nuevo Tipo de Seguimiento</a>
        </div>
        <div class="widget-content">
            <ul class="nav nav-tabs">
                <li [class.active]="navBar == 'Activos'" class="pointer" (click)="onTable('Activos')" ><a><i class="icon-folder-open"></i> Activos</a></li>
                <li [class.active]="navBar == 'Desactivados'" class="pointer" (click)="onTable('Desactivados')"><a><i class="icon-trash"></i> Desactivados</a></li>
            </ul>

            <div  style="margin-top:10px">
                <div class="etable-wrapper">
                    <div *ngIf="loading" class="etable-loading">
                        <div class="etable-loading-mask"></div>
                        <div class="etable-loading-text"><i class="label label-info">Cargando...</i></div>
                    </div>
                    <div style="display: flex;">
                      <mat-form-field appearance="standard">
                        <mat-label>Buscar ...</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                      </mat-form-field>
                      <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
                    </div>
                    <div class="mat-elevation-z8">
                      <div *ngIf="navBar == 'Activos'">
                        <table mat-table [dataSource]="dataSource" matSort>
                    
                          <!-- ID Column -->
                          <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
                            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                          </ng-container>
                      
                          <!-- Progress Column -->
                          <ng-container matColumnDef="progress">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Seguimientos </th>
                            <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                          </ng-container>
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> DRNE </th>
                            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                          </ng-container>
                                              
                          <!-- Delete Button -->
                          <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef>
                              <!-- <button>Hello</button> -->
                            </th>
                            <td mat-cell *matCellDef="let row">
                              <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                                  <mat-icon>edit</mat-icon>
                                </button>
                              <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      
                          <!-- Row shown when there is no matching data. -->
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
                          </tr>
                        </table>
                      </div>

                      <div *ngIf="navBar == 'Desactivados'">
                        <table mat-table [dataSource]="dataSource" matSort>
                    
                          <!-- ID Column -->
                          <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
                            <!-- <td mat-cell *matCellDef="let row"> {{row.id}} </td> -->
                          </ng-container>
                      
                          <!-- Progress Column -->
                          <ng-container matColumnDef="progress">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Seguimientos </th>
                            <!-- <td mat-cell *matCellDef="let row"> {{row.progress}}% </td> -->
                          </ng-container>
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> DRNE </th>
                            <!-- <td mat-cell *matCellDef="let row"> {{row.name}} </td> -->
                          </ng-container>
                                              
                          <!-- Delete Button -->
                          <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef>
                              <!-- <button>Hello</button> -->
                            </th>
                            <td mat-cell *matCellDef="let row">
                              <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                                  <mat-icon>edit</mat-icon>
                                </button>
                              <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      
                          <!-- Row shown when there is no matching data. -->
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>