/* You can add global styles to this file, and also import other style files */

@import url(./assets/css/highcharts.css);


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #e0e5ef;

}

/* Define the stop colors */
#gradient-0 stop {
	stop-color: #506ef9;
}
#gradient-0 stop[offset="0"] {
	stop-opacity: 0.25;
}
#gradient-0 stop[offset="1"] {
	stop-opacity: 0;
}

/* Apply the gradients */

.highcharts-color-0 {
  fill: #506ef9;
  stroke: #506ef9;
}
.highcharts-color-0 .highcharts-area {
	fill-opacity: 1;
	fill: url(#gradient-0);
}

.etable-wrapper{
    position: relative;
}

li{
    display: list-item;
}

ul, menu, dir{
    display: block;
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px;
}

tspan:contains("Highcharts"){
	display: none;
}
body {
	background: url('./assets/img/body-bg.png');
}


.widget {
	position: relative;
	clear: both;
	width: auto;
	margin-bottom: 2em;
	overflow: hidden;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
}
	
.brand.drne{
	width: 80px;
	text-align: center;
	font-size: 25px;
	padding: 10px 0px;
}
.brand.biovigilancia.drne{
	font-size: 14px;
	padding: 0;
}
.widget-header {
	
	position: relative;
	
	height: 40px;
	line-height: 40px;
	
	background: #E9E9E9;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	
	
	border: 1px solid #D5D5D5;
	
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	
	-webkit-background-clip: padding-box;
}	
	
.widget-header h3 {
	
	position: relative;
	top: 2px;
	left: 10px;
	display: inline-block;
	margin-right: 3em;
	font-size: 14px;
	font-weight: 800;
	color: #555;
	line-height: 18px;
	text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}

.widget-header .btn.btn-small{
	margin: 6px 6px 0 0;
}

.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
	
	display: inline-block;
	margin-top:-2px;
	
	font-size: 16px;
	color: #555;
	vertical-align: middle;
}

.widget-content {
	padding: 20px 15px 15px;
	background: #FFF;
	min-height: 400px;
	border: 1px solid #D5D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.widget-header+.widget-content {
	border-top: none;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.widget-nopad .widget-content {
	padding: 0;
}

td.data{
	text-align:center;
	color: #777;
}
td.data h3{
	margin:0px;
	color: #000;
}
table.tablegrid td{
	text-align: center;
}
table.tablegrid td.header{
	font-weight: bold;
	font-size:120%;
	color: #777;
}
table.tablegrid td.data{
	color: #000;
	font-weight: bold;
	font-size: 140%;
}
input[type="checkbox"]{
	margin: 0;
}
input[type="radio"]{
	margin-top: -4px;
	margin-left:20px;
}
table.etable{
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	background: white;
}
table.etable td{
	overflow: hidden;
}
table.etable th{
	background: #E9E9E9;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
}
table.etable th.header.sortable:hover, table.etable th.header.orderby{
	background: #E9E9E9;
	background:-moz-linear-gradient(top, #E9E9E9 0%, #D9D9D9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#E9E9E9), color-stop(100%,#D9D9D9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #E9E9E9 0%,#D9D9D9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #E9E9E9 0%,#D9D9D9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #E9E9E9 0%,#D9D9D9 100%); /* IE10+ */
	background:linear-gradient(top, #E9E9E9 0%,#D9D9D9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9E9E9', endColorstr='#D9D9D9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9E9E9', endColorstr='#D9D9D9')";
	cursor: pointer;
}
.etable-wrapper .dropdown-menu a.selected {
	padding-left: 2px;
}
.etable-wrapper{
	position: relative;
}
.etable-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
}
.etable-loading-text{
	position:absolute;
	width:100%;
	text-align: center;
}
.etable-loading-mask {
	position: absolute;
	background: #ccc;
	opacity: 0.5;	
	top: 0;
	width: 100%;
	height: 100%;
}
.etable .pagerinfo{
	font-size:100%;
	margin-right: 4px;
	margin-top: 4px;
	color:#999;
	font-weight:normal;
}
.etable input[name=page]{
	padding: 2px 6px;
	width:30px;
}
.etable input[name=search]{
	width:200px;
}
div.border5 {
	border: 1px solid #aaa;
	border-radius: 5px;
	background: white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
}
.table td {
	padding: 4px;
}

.table-clickable td {
 	cursor: pointer;
}

.table.inverse td {
	border:none;
	border-bottom: 1px solid #ddd;
}
.q-type img{
	display: block;
}
.q-type {
	text-align: center;
	color: #555;
	cursor: pointer;
	margin-left:4px;
	margin-bottom:0;
}
.q-type:hover {
	color: #000;
	background-color: #ddd !important;
}
.q-types {
	margin:auto;
	width:800px;
	text-align:center;
}
.q-types button{
	margin: 3px 0;
}
.q-types ul li:last-child{
	margin-right:4px;
}

.question-container-wrapper, .charts-container-wrapper{
	margin:4px;
}
.question-container-related, .charts-container-related{
	background: #eee;
	border:1px solid #ccc;
	border-radius: 3px;
	
}
.question-container-related{
	display: none;
}
.question-container, .charts-container{
	/*border: 1px solid red;*/
	margin:4px;
}
.question-container li.question{
	margin:4px;
}

.question {
	border:1px solid #3A87AD;
	background-color: #D9EDF7;
	border-radius: 3px;
	padding:3px;
}
.question.wrong {
	border:1px solid #B94A48;
	background-color: #F2DEDE;
}
.question.general {
	border:1px solid #468847;
	background-color: #DFF0D8;
}
.question.special {
	border: 1px solid #C09853;
	background-color: #FCF8E3;
}
#special-questions-box li.question.special:hover{
	background-color: #FBEED5;
}
#special-questions-box li.question.general:hover{
	background: #D6E9C6;
}

.question-container-related > .question-container{
	margin-top:40px;
}
.question-container-related {
	margin-left:15px;
}
ul.question-container, ul.charts-container{
	list-style: none;
}
ul.question-container li.question .close{
	margin-top:-4px;
	
}
ul.question-container div.question-box:hover .close{
	display:block;
}
ul.question-container div.question-container-wrapper:hover > .close{
	display:block
}
.question-container-related .label.label-default, .chart-container-related{
	top:-2px;
	border-radius: 3px 0 3px 0;
}

.question-option, i[data-icon-action] { cursor: pointer}
.question-option:hover i, i[data-icon-action]:hover{
	background-image: url('./assets/img/glyphicons-halflings-white.png');
}

.question-container-related > ul{
	min-height:80px;
}
div[data-target=poll-questions] .question-container-related > ul{
	min-height: 0;
}

.questions{
	margin-bottom:200px;
}
ul.option-list, ul.option-list-nosortable{
	list-style:none;
}
ul.option-list li, ul.option-list-nosortable li{
	float: left;
	margin-right:3px;
}
ul.option-list li span:hover{
	cursor: pointer;
}
input[type="text"].option-input{
	padding:0;
	margin-bottom:0;
	height: 18px;
}

.ldap-search-box .form-search{
	margin: 10px 0;
}
.ldap-search-box .nav{
	margin: 0 10px;
}
#special-questions-box li.question{
	cursor: pointer;
}
.grey{
	color: #888;
}

.well.answer{
	border:1px solid #468847;
	background-color: #DFF0D8;
}
/************** STATS y REPORTS ********************/


#big_stats 
{ 
	width: 100%; 
	display: table;
	margin-bottom: .5em;
	
}

.big-stats-container .widget-content {
	background: #E9E9E9;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
}

#big_stats .stat
{
	width: 25%;
	height: 60px;
	text-align: center;
	display: table-cell;
	padding: 0;
	position: relative;
	
	border-right: 1px solid #CCC;
	border-left: 1px solid #FFF;
}
#big_stats .stat.x2{
	width: 50%;
}

#big_stats .stat:first-child {
	border-left: none;
}

#big_stats .stat:last-child {
	border-right: none;
}

#big_stats .stat h4
{
	font-size: 11px;
	font-weight: bold;
	color: #777;
	margin-bottom: 1.5em;
}

#big_stats .stat .value
{
	font-size: 30px;
	font-weight: bold;
	color: #333;
	line-height: 1em;
}

#big_stats .stat.x2 .value
{
	font-size: 20px;
	font-weight: bold;
	color: #333;
	line-height: 1em;
}





@media all and (max-width: 950px) and (min-width: 1px) {
	
	#big_stats {
		display: block;
		margin-bottom: -40px;
	}
	
	#big_stats .stat {
		width: 49%;
		display: block;
		margin-bottom: 3em;
		float: left;
	}	
	
	#big_stats .stat:nth-child(2) {
		border-right: none;
	}
	
	#big_stats .stat:nth-child(3) {
		border-left: none;
	}
	
}

@media (max-width: 767px) {
	#big_stats .stat .value {
		font-size: 40px;
	}
}




/************** CHARTS *************/
.chart-content .text{
	text-align:center;
	font-size: 16px;
	font-weight: bold;
}
.answer-chart{
	border:1px solid #3A87AD;
	background-color: #D9EDF7;
	border-radius: 3px;
	padding:3px;	
	margin-bottom:5px;
}
.chart{
	min-width: 300px;
	min-height: 300px;
	margin: auto auto;
}
.chart.texto, .chart.fecha, .chart.hora{
	min-height: 60px;
}
.charts-container{
	margin:25px 15px;
}
#init-splash, #loading-shadowbox{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #fff;
	opacity: 1;
	text-align:center;
	z-index: 1000;
}

#loading-shadowbox {
	background-color: #000;
	z-index:1001;
	opacity: 0.4;
}
#loading-shadowbox h3 {
	position: absolute;
	top: 50%;
	left: 48%;
	color: white;
}

#init-splash .loading-wrapper{
	position: absolute;
	top: 40%;
	left: 25%;
	width: 50%;
}
.rounded-box{
	background: #efefef;
	border: #ababab;
	padding: 6px;
	border-radius: 3px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
	cursor: pointer;
}
