<div class="widget">
    <div class="widget-header">    
      <h3 style="margin-top:0px">Nuevo {{user_type}}</h3>
    </div>
    <div class="widget-content">        
      <div class="row">
        <div class="span8">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" >Usuario LDAP </label>
              <div class="controls">
                <input type="text" data-field-id="username" placeholder="Usuario LDAP" disabled>
                <button class="btn" data-toggle="modal" data-target="#ldap-search-box"><i class="icon icon-search"></i></button>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Nombre</label>
              <div class="controls">
                <input type="text" data-field-id="firstname" placeholder="..." disabled>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Apellidos</label>
              <div class="controls">
                <input type="text" data-field-id="lastname" placeholder="..." disabled>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Email</label>
              <div class="controls">
                <input type="text" data-field-id="email" placeholder="..." disabled>
              </div>
            </div>
            <div *ngIf="user_type == 'autonomico'">
                <div class="control-group">
                    <label class="control-label">Comunidad Autónoma</label>
                      <div class="controls">
                        <select data-id="select-comunidad">
                            <option *ngFor="let i of regions" value="i">{{i}}</option>
                        </select>
                      </div>
                  </div>
            </div>
            <div *ngIf="user_type == 'equipos' || user_type == 'trasplantador'">
                <div class="control-group">
                    <label class="control-label">Perfil Biovigilancia</label>
                    <div class="controls">
                      <input type="checkbox" name="is_biovigilancia" />
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Perfil DRNE</label>
                    <div class="controls">
                      <input type="checkbox" name="is_drne" />
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Hospital</label>
                      <div class="controls">
                        <select data-id="select-ccaa" placeholder = "Seleccionar comunidad">
                        <option value=""  placeholder = "Seleccionar comunidad"></option>
                        <option *ngFor="let i of h_map" value="i">{{i}}</option>
                        </select>
                        <select data-id="select-hospitals">
                              <option value=""></option>
                        </select>
                      </div>
                  </div>
                  <div *ngIf="user_type == 'equipos'">
                    <div class="control-group">
                        <label class="control-label">¿Es coordinador de Trasplantes?</label>
                        <div class="controls">
                          <input type="checkbox" data-field-id="is_coordinator" name="is_coordinator"/>
                          
                        </div>
                      </div>
                      <div class="control-group" data-id="control-group-ttxs">
                        <label class="control-label">Tipos de Trasplantes</label>
                          <div class="controls">
                            <ul style="list-style:none" data-id="ttxs-list">
                            </ul>
                            <select data-id="select-ttxs">
                              <option value="">Añadir Tipo de Trasplante ...</option>
                                  <option *ngFor="let i of ttxs" value="i">{{i}}</option>
                            </select>
                          </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Migrar usuario</label>
                        <div class="controls">
                          <input type="checkbox" data-field-id="migrate" name="migrate"/>
                        <div class="alert alert-info">
                          <strong>Migración de usuarios</strong>: Solo puede haber un coordinador de trasplantes por hospital o un equipo asociado al mismo órgano dentro de un hospital. El sistema dará error si desea crear otro usuario con el mismo perfil pero si marca esta opción se migrarán los seguimientos del usuario que ya exista al nuevo
                        </div>
                        </div>
                      </div>
                  </div>
            </div>


            <div class="control-group">
              <div class="controls">
                <button type="button" class="btn btn-primary disabled"><i class="icon-white icon-hdd"></i> Guardar</button>
                &nbsp;
                <a href="/coordinator-management" class="btn "><i class="icon icon-remove"></i> Cancelar</a>
              </div>
            </div>
          </form>       
        </div>
      </div>
  </div>
</div>

  <div class="modal fade-scale" id="ldap-search-box" tabindex="-1" style="overflow-x: auto;  " role="dialog" aria-labelledby="dap-search-box" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content" style="margin: 0;">
            <div class="modal-header"> 
              <h3 id="myModalLabel" class="modal-title">Buscar usuario LDAP</h3>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-search">
                <div class="input-append">
                  <input type="text" class="search-query">
                  <button type="button" role="search" class="btn">Buscar</button>
                </div>
              </form>
              <small class="result-count">Sin resultados</small>
            </div>              
            <div class="modal-footer">
                <ul class="nav nav-tabs nav-stacked"></ul>
            </div>
        </div>
    </div>
</div>
